.Home{
    background-image:url('../../assets/images/airpods-landing.jpeg');
	background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  -moz-background-size:  100%;
  -o-background-size:  100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 55px);

}



/* @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .Home{

    }
  
}


@media screen and (min-width: 800px) {

} */